# Project 2

### Starting with the compressor design:

In [1]:
import pandas as pd 
from Project2BackendCalcs import TurboMachineryComputation
import IPython.display as disp
import numpy as np
from IPython.display import Markdown as md


backend = TurboMachineryComputation()
'''N,rt,rm,rr,M1t,rt3,rr3, P_02, T_02, P_03, T_03 = backend.update()

print('Rotational speed: '+str(np.round(N,2))+' (rev/s)')
print('Tip radius (inlet): '+str(np.round(rt,5))+' (m)')
print('Mean radius (constant): '+str(np.round(rm,5))+' (m)')
print('Root radius (inlet): '+str(np.round(rr,5))+' (m)')
print('Tip radius (outlet): '+str(np.round(rt3,5))+' (m)')
print('Root radius (outlet): '+str(np.round(rr3,5))+' (m)')
# print('Compressor Outlet Pressure: ' +str(np.round(P_02,5)))
# print('Compressor Outlet Temp: ' +str(np.round(T_02,5)))
# print('TIP: ' +str(np.round(P_03,5)))
# print('TIT: ' +str(np.round(T_03,5)))
print('Mach number at tip (inlet): '+str(np.round(M1t,3)))

meantable,sizingtable = backend.fullcompressor()

# disp.display(table)
print('\nMean radius values for the compressor are: ')
disp.display(meantable)

print('\nSizing throughout the compressor: ')
disp.display(sizingtable)'''

gasParamsDF, measurementsDF, rootDF, tipDF, stage_est, Um = backend.fullturbine()
print('\nMean Blade Speed: ', Um)
print('\nEstimated No. of Stages: ', stage_est )
print('\nGas Parameters for the Turbine: ')
disp.display(gasParamsDF)

print('\nSizing through the turbine: ')
disp.display(measurementsDF)

print('\nRoot Parameters for the Turbine: ')
disp.display(rootDF)

print('\nTip Parameters for the turbine: ')
disp.display(tipDF)

Mean Blade Speed:  369

Estimated No. of Stages:  2.030545795675248

Gas Parameters for the Turbine:

,α1,α2,α3,β2,β3,ΔT0s,P02/P01,Cw3,M3t,Φ,ψ,Λ
1,0.00,60.710,15.05,26.595,57.187,189.800,0.683,77.390,0.842,0.78,3.200,0.41
2,15.05,49.549,43.27,-6.230,65.784,195.598,0.650,270.943,0.996,0.78,3.298,0.91
3,43.27,0.000,0.00,-52.046,52.046,0.000,1.000,0.000,0.883,0.78,0.000,1.00

Sizing through the turbine:

   r_t 1  r_t 2  r_t 3     h1     h2     h3     rm
1  1.084  1.104  1.120  0.024  0.030  0.034  0.298
2  1.135  1.130  1.181  0.038  0.036  0.050  0.298
3  1.589  1.172  1.171  0.136  0.047  0.047  0.298

Root Parameters for the Turbine:

,Ur2,Ur3,alpha2r,alpha3r,beta2r,beta3r,Cw1r,V2r,C2r,Cw2r,V3r,C3r,Cw3r,phiRoot,psiRoot,lambdaRoot
1,350.697,348.165,61.937,15.906,33.317,56.215,0.000,344.427,611.808,539.878,299.279,299.279,82.022,0.827,3.558,0.346
2,346.466,338.353,51.322,45.753,2.601,65.578,109.543,288.117,460.552,359.539,412.494,412.494,295.484,0.851,3.824,0.917
3,339.800,339.914,0.000,0.000,-49.734,49.744,255.409,445.314,287.820,-0.000,287.820,287.820,0.000,0.847,0.001,1.000

Tip Parameters for the turbine:

,Ut2,Ut3,alpha2t,alpha3t,beta2t,beta3t,Cw1t,V2t,C2t,Cw2t,V3t,C3t,Cw3t,phiTip,psiTip,lambdaTip
1,387.303,389.835,59.512,14.279,19.434,58.138,0.000,305.208,567.287,488.850,296.996,296.996,73.254,0.743,2.916,0.467
2,391.534,399.647,47.866,40.996,-14.303,66.110,96.556,297.027,429.024,318.153,381.344,381.344,250.166,0.735,2.944,0.924
3,398.200,398.086,0.000,0.000,-54.140,54.133,160.708,491.328,287.820,0.000,287.820,287.820,0.000,0.723,-0.001,1.000