# Project 2

### Starting with the compressor design:

In [ ]:
import pandas as pd 
from Project2BackendCalcs import TurboMachineryComputation
import IPython.display as disp
import numpy as np
from IPython.display import Markdown as md


backend = TurboMachineryComputation()
N,rt,rm,rr,M1t,rt3,rr3, P_02, T_02, P_03, T_03 = backend.update()

print('Rotational speed: '+str(np.round(N,2))+' (rev/s)')
print('Tip radius (inlet): '+str(np.round(rt,5))+' (m)')
print('Mean radius (constant): '+str(np.round(rm,5))+' (m)')
print('Root radius (inlet): '+str(np.round(rr,5))+' (m)')
print('Tip radius (outlet): '+str(np.round(rt3,5))+' (m)')
print('Root radius (outlet): '+str(np.round(rr3,5))+' (m)')
# print('Compressor Outlet Pressure: ' +str(np.round(P_02,5)))
# print('Compressor Outlet Temp: ' +str(np.round(T_02,5)))
# print('TIP: ' +str(np.round(P_03,5)))
# print('TIT: ' +str(np.round(T_03,5)))
print('Mach number at tip (inlet): '+str(np.round(M1t,3)))

meantable,sizingtable,tiproot_table = backend.fullcompressor()

# disp.display(table)
print('\nMean radius values for the compressor are: ')
disp.display(meantable)

print('\nSizing throughout the compressor: ')
disp.display(sizingtable)

print('\nTip and root angles: ')
disp.display(tiproot_table)

gasParams, measurements, stage_est, Um = backend.fullturbine()
print('\nMean Blade Speed: ', Um)
print('\nEstimated No. of Stages: ', stage_est )
print('\nGas Parameters for the Turbine: ')
disp.display(gasParams)

print('\nSizing through the turbine: ')
disp.display(measurements)

Rotational speed: 196.86 (rev/s)
Tip radius (inlet): 0.28297 (m)
Mean radius (constant): 0.21222 (m)
Root radius (inlet): 0.14148 (m)
Tip radius (outlet): 0.2228 (m)
Root radius (outlet): 0.20164 (m)
Mach number at tip (inlet): 1.081

Mean radius values for the compressor are:

,alpha1,alpha2,beta1,beta2,alpha3,V2/V1,C3/C2,T02,P03/P01,P03,M1t,M2t,Cw1,Cw2,Reaction,Loading
1,0.000,38.002,60.255,44.088,12.451,0.691,0.807,349.890,1.328,1.884,0.858,0.572,0.000,117.201,0.777,0.971
2,12.451,45.120,56.818,36.715,25.384,0.683,0.781,378.890,1.286,2.423,0.744,0.494,33.119,150.631,0.650,0.945
3,25.384,51.904,51.904,25.384,23.507,0.683,0.673,407.890,1.263,3.059,0.635,0.426,71.173,191.327,0.500,0.924
4,23.507,52.750,52.750,23.507,23.505,0.660,0.660,439.190,1.263,3.865,0.622,0.404,65.243,197.257,0.500,0.908
5,23.505,52.750,52.750,23.505,23.500,0.660,0.660,470.050,1.239,4.790,0.599,0.389,65.239,197.261,0.500,0.895
6,23.500,52.752,52.752,23.500,23.505,0.660,0.660,500.570,1.220,5.844,0.579,0.376,65.223,197.277,0.500,0.885
7,23.505,52.750,52.750,23.505,23.502,0.660,0.660,530.810,1.204,7.033,0.560,0.365,65.238,197.262,0.500,0.877
8,23.502,52.752,52.752,23.502,23.503,0.660,0.660,560.840,1.190,8.368,0.543,0.354,65.229,197.271,0.500,0.871
9,23.503,52.751,52.751,23.503,23.502,0.660,0.660,590.700,1.178,9.858,0.528,0.345,65.232,197.268,0.500,0.866
10,23.502,52.752,52.752,23.502,23.506,0.660,0.660,620.430,1.168,11.511,0.515,0.336,65.227,197.273,0.500,0.862
11,23.506,52.750,52.750,23.506,23.505,0.660,0.660,650.050,1.159,13.337,0.502,0.328,65.240,197.260,0.500,0.859
12,23.505,52.750,52.750,23.505,23.502,0.660,0.660,679.590,1.151,15.346,0.490,0.320,65.237,197.263,0.500,0.857
13,23.502,52.752,52.752,23.502,23.501,0.660,0.660,709.070,1.143,17.548,0.479,0.313,65.227,197.273,0.500,0.855
14,23.501,52.752,52.752,23.501,32.892,0.660,0.721,738.500,1.137,19.951,0.469,0.307,65.226,197.274,0.500,0.853
15,32.892,47.811,47.811,32.892,0.000,0.800,0.672,753.741,1.067,21.278,0.415,0.330,71.173,191.327,0.500,0.852

Sizing throughout the compressor:

      r_t 1    r_t 2    r_t 3       h1       h2       h3
1   0.50000  0.55439  0.57043  0.14148  0.12168  0.11610
2   0.57043  0.62106  0.62357  0.11610  0.09922  0.09841
3   0.62357  0.64289  0.67241  0.09841  0.09226  0.08314
4   0.67241  0.68917  0.71534  0.08314  0.07810  0.07044
5   0.71534  0.72865  0.75044  0.07044  0.06663  0.06051
6   0.75044  0.76120  0.77950  0.06051  0.05755  0.05259
7   0.77950  0.78833  0.80384  0.05259  0.05024  0.04616
8   0.80384  0.81119  0.82443  0.04616  0.04425  0.04085
9   0.82443  0.83061  0.84200  0.04085  0.03928  0.03641
10  0.84200  0.84725  0.85711  0.03641  0.03510  0.03266
11  0.85711  0.86162  0.87020  0.03266  0.03155  0.02946
12  0.87020  0.87410  0.88161  0.02946  0.02851  0.02671
13  0.88161  0.88501  0.89162  0.02671  0.02589  0.02432
14  0.89162  0.89460  0.89961  0.02432  0.02361  0.02243
15  0.89961  0.90099  0.90526  0.02243  0.02211  0.02111

Tip and root angles:

    alpha1_t  alpha1_r  beta1_t  beta1_r  alpha2_t  alpha2_r  beta2_t  beta2_r
1       0.00      0.00    66.80    49.40     45.15     29.13    51.26    34.64
2      15.71      9.11    62.82    48.01     51.09     37.58    42.62    29.75
3      30.31     20.03    57.53    44.41     57.22     44.95    30.01    20.37
4      27.48     19.28    57.55    46.60     57.29     47.02    27.25    19.54
5      26.89     19.94    56.89    47.64     56.69     47.95    26.71    20.14
6      26.42     20.45    56.36    48.43     56.20     48.66    26.28    20.60
7      26.05     20.86    55.92    49.04     55.79     49.22    25.94    20.98
8      25.74     21.18    55.56    49.53     55.45     49.67    25.65    21.28
9      25.49     21.46    55.25    49.92     55.16     50.04    25.41    21.54
10     25.27     21.68    55.00    50.25     54.92     50.34    25.21    21.75
11     25.10     21.87    54.77    50.52     54.71     50.60    25.04    21.93
12     24.94     22.03    54.59    50.75     54.53     50.81    24.90    22.08
13     24.81     22.17    54.42    50.94     54.37     51.00    24.77    22.21
14     24.69     22.29    54.28    51.11     54.23     51.16    24.66    22.33
15     26.54     24.20    53.33    50.38     53.31     50.41    26.53    24.22

Mean Blade Speed:  375

Estimated No. of Stages:  1.9269879601032915

Gas Parameters for the Turbine:

,α1,α2,α3,β2,β3,ΔT0s,P02/P01,Cw3,M3t,Φ,ψ,Λ
1,0.0,59.960,20.0,24.094,58.720,200.000,0.669,106.461,0.865,0.78,3.265,0.468
2,20.0,59.124,15.0,21.325,57.171,185.398,0.664,78.375,0.907,0.78,3.027,0.452
3,15.0,0.000,0.0,-52.046,52.046,0.000,1.000,0.000,0.897,0.78,0.000,1.000

Sizing through the turbine:

   r_t 1  r_t 2  r_t 3     h1     h2     h3
1  1.078  1.099  1.116  0.023  0.029  0.033
2  1.166  1.139  1.164  0.046  0.039  0.046
3  1.376  1.163  1.163  0.096  0.046  0.046