# Project 2

### Starting with the compressor design:

In [1]:
import pandas as pd 
from Project2BackendCalcs import TurboMachineryComputation
import IPython.display as disp
import numpy as np
from IPython.display import Markdown as md


backend = TurboMachineryComputation()
'''N,rt,rm,rr,M1t,rt3,rr3, P_02, T_02, P_03, T_03 = backend.update()

print('Rotational speed: '+str(np.round(N,2))+' (rev/s)')
print('Tip radius (inlet): '+str(np.round(rt,5))+' (m)')
print('Mean radius (constant): '+str(np.round(rm,5))+' (m)')
print('Root radius (inlet): '+str(np.round(rr,5))+' (m)')
print('Tip radius (outlet): '+str(np.round(rt3,5))+' (m)')
print('Root radius (outlet): '+str(np.round(rr3,5))+' (m)')
# print('Compressor Outlet Pressure: ' +str(np.round(P_02,5)))
# print('Compressor Outlet Temp: ' +str(np.round(T_02,5)))
# print('TIP: ' +str(np.round(P_03,5)))
# print('TIT: ' +str(np.round(T_03,5)))
print('Mach number at tip (inlet): '+str(np.round(M1t,3)))

meantable,sizingtable = backend.fullcompressor()

# disp.display(table)
print('\nMean radius values for the compressor are: ')
disp.display(meantable)

print('\nSizing throughout the compressor: ')
disp.display(sizingtable)'''

gasParamDF, measurementsDF, rootDF, tipDF, rtMeasurements, stage_est, Um = backend.fullturbine()
print('\nMean Blade Speed: ', Um)
print('\nEstimated No. of Stages: ', stage_est )
print('\nGas Parameters for the Turbine: ')
disp.display(gasParamDF)

print('\nSizing through the turbine: ')
disp.display(measurementsDF)

print('\nRoot Parameters for the Turbine: ')
disp.display(rootDF)

print('\nTip Parameters for the turbine: ')
disp.display(tipDF)

ask the child if he or she is choking

Mean Blade Speed:  500

Estimated No. of Stages:  1.0724256115425146

Gas Parameters for the Turbine:

,α1,α2,α3,β2,β3,ΔT0s,P02/P01,Cw3,M3t,Φ,ψ,Λ
1,0.0,67.309,0.0,43.300,55.394,359.370,0.470,0.0,1.113,0.69,3.300,0.175
2,0.0,8.712,0.0,-48.463,52.046,26.028,0.942,0.0,1.194,0.78,0.239,0.940
3,0.0,0.000,0.0,-52.046,52.046,0.000,1.000,0.0,1.194,0.78,0.000,1.000

Sizing through the turbine:

   r_t 1  r_t 2  r_t 3     h1     h2     h3     rm
1  1.066  1.108  1.124  0.020  0.032  0.037  0.314
2  1.112  1.113  1.117  0.033  0.033  0.035  0.314
3  1.117  1.118  1.117  0.035  0.035  0.035  0.314

Root Parameters for the Turbine:

,Ur2,Ur3,alpha2r,alpha3r,beta2r,beta3r,Cw1r,V2r,C2r,Cw2r,V3r,C3r,Cw3r,phiRoot,psiRoot,lambdaRoot
1,474.359,470.826,68.363,0.0,48.891,53.768,0.0,524.720,935.643,869.715,345.0,345.0,0.0,0.733,3.679,0.080
2,473.322,472.303,9.194,0.0,-46.446,50.452,0.0,566.003,395.076,63.128,390.0,390.0,0.0,0.826,0.263,0.934
3,472.100,472.303,0.000,0.0,-50.440,50.452,0.0,612.355,390.000,0.000,390.0,390.0,0.0,0.826,0.001,1.000

Tip Parameters for the turbine:

,Ut2,Ut3,alpha2t,alpha3t,beta2t,beta3t,Cw1t,V2t,C2t,Cw2t,V3t,C3t,Cw3t,phiTip,psiTip,lambdaTip
1,525.641,529.174,66.271,0.0,36.920,56.897,0.0,431.534,857.342,784.864,345.0,345.0,0.0,0.656,3.000,0.257
2,526.678,527.697,8.277,0.0,-50.311,53.533,0.0,610.696,394.105,56.732,390.0,390.0,0.0,0.740,0.219,0.947
3,527.900,527.697,0.000,0.0,-53.544,53.533,0.0,656.337,390.000,0.000,390.0,390.0,0.0,0.739,-0.001,1.000