# Project 2

### Starting with the compressor design:

In [1]:
import pandas as pd 
from Project2BackendCalcs import TurboMachineryComputation
import IPython.display as disp
import numpy as np
from IPython.display import Markdown as md


backend = TurboMachineryComputation()
'''N,rt,rm,rr,M1t,rt3,rr3, P_02, T_02, P_03, T_03 = backend.update()

print('Rotational speed: '+str(np.round(N,2))+' (rev/s)')
print('Tip radius (inlet): '+str(np.round(rt,5))+' (m)')
print('Mean radius (constant): '+str(np.round(rm,5))+' (m)')
print('Root radius (inlet): '+str(np.round(rr,5))+' (m)')
print('Tip radius (outlet): '+str(np.round(rt3,5))+' (m)')
print('Root radius (outlet): '+str(np.round(rr3,5))+' (m)')
# print('Compressor Outlet Pressure: ' +str(np.round(P_02,5)))
# print('Compressor Outlet Temp: ' +str(np.round(T_02,5)))
# print('TIP: ' +str(np.round(P_03,5)))
# print('TIT: ' +str(np.round(T_03,5)))
print('Mach number at tip (inlet): '+str(np.round(M1t,3)))

meantable,sizingtable = backend.fullcompressor()

# disp.display(table)
print('\nMean radius values for the compressor are: ')
disp.display(meantable)

print('\nSizing throughout the compressor: ')
disp.display(sizingtable)'''

gasParams, measurements, stage_est, Um = backend.fullturbine()
print('\nMean Blade Speed: ', Um)
print('\nEstimated No. of Stages: ', stage_est )
print('\nGas Parameters for the Turbine: ')
disp.display(gasParams)

print('\nSizing through the turbine: ')
disp.display(measurements)

Mean Blade Speed:  420

Estimated No. of Stages:  1.5415903680826333

Gas Parameters for the Turbine:

,α1,α2,α3,β2,β3,ΔT0s,P02/P01,Cw3,M3t,Φ,ψ,Λ
1,0.0,59.295,21.9,21.892,59.298,250.000,0.601,131.694,0.984,0.78,3.254,0.500
2,21.9,48.485,0.0,-8.663,52.046,135.398,0.739,0.000,0.997,0.78,1.762,0.559
3,0.0,0.000,0.0,-52.046,52.046,0.000,1.000,0.000,0.997,0.78,0.000,1.000

Sizing through the turbine:

   r_t 1  r_t 2  r_t 3     h1     h2     h3
1  1.055  1.073  1.091  0.018  0.024  0.029
2  1.147  1.100  1.115  0.046  0.032  0.037
3  1.258  1.116  1.115  0.078  0.037  0.037